@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Ubuntu+Mono&display=swap');

.navbar {
    background-color: #FFAA47;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
    font-weight: 900;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFAA47;
}

body {
    background-image: url('https://res.cloudinary.com/djcwwiiid/image/upload/v1640804459/cork-board_jjrwcg.jpg');
}

.card {
    margin: 1rem;
}

.yellow {
    background-color: #F5F474;
}

.blue {
    background-color: #2DDFFF;
}

.pink {
    background-color: #ff65a3;
}

#intro {
    background-color: azure;
    padding: 2rem;
}

#intro_title {
    font-family: 'Ubuntu Mono', monospace;
}

.intro_text {
    font-family: 'Caveat', cursive;
    font-size: x-large;
}