{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<section>
    <article id="intro">
        <h2 id="intro_title">Welcome {{ user.username }}!!</h2>
        <br>
        <p class="intro_text">
            You are ready to start searching and signing up for your next event. 
        </p>
        <br>
        <p class="intro_text">
            <a href="{% url 'create_event' %}">Click here</a> if you want to set up
            your own event.
        </p>
    </article>
</section>
{% else %}
<section>
    <article id="intro">
        <h2 id="intro_title">Hello and welcome to Hobby Hub!!</h2>
        <br>
        <p class="intro_text">
            We exist to create opportunities for like minded people in the Galway area to get together so
            you can
            have new experiences
            and meet interesting people who share your passions. Maybe you have a hobby you want to share,
            why not
            create a post!
        </p>
        <br>
        <p class="intro_text">
            Sign up and start exploring all our different options today.
        </p>
    </article>
</section>
{% endif %}
<div class="container-fluid">
    <div class="row">
        {% for event in event_list %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            {% if forloop.counter|divisibleby:3 %}
            <div class="card blue">
                {% elif forloop.counter|divisibleby:2 %}
                <div class="card yellow">
                    {% else %}
                    <div class="card pink">
                        {% endif %}
                        <div class="modal fade" id="{{ event.slug }}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalLongTitle">{{ event.title }}</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Location: </strong>{{ event.location }}</p>
                                        <h5>Details:</h5>
                                        <p>{{ event.summary }}</p>
                                        <h5>Requirements:</h5>
                                        <p>{{ event.requirements }}</p>
                                        <p><strong>spaces:</strong> {{ event.spots }}</p>
                                        <p><strong>start time:</strong> {{ event.event_start }}</p>
                                        <p><strong>created:</strong> {{ event.created_on }}</p>
                                        <p><strong>organiser:</strong> {{ event.author }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        {% if user.is_authenticated %}
                                        <form action="{% url 'join_event' event.slug %}" method="POST">
                                            {% csrf_token %}
                                            {% if request.user in event.signed_up.all %}
                                            <button type="submit" value="{{ event.slug }}"
                                                class="btn btn-danger">Cancel</button>
                                            {% else %}
                                            <button type="submit" value="{{ event.slug }}"
                                                class="btn btn-secondary">Join</button>
                                            {% endif %}
                                        </form>
                                        {% else %}
                                        <span></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.location }}</p>
                            <p class="card-text">{{ event.summary }}</p>
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#{{ event.slug }}">
                                Details
                            </button>
                            {% if user.is_authenticated %}
                            <form class="join_button" action="{% url 'join_event' event.slug %}" method="POST">
                                {% csrf_token %}
                                {% if request.user in event.signed_up.all %}
                                <button type="submit" value="{{ event.slug }}" class="btn btn-danger">Cancel</button>
                                {% else %}
                                <button type="submit" value="{{ event.slug }}" class="btn btn-success">Join</button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {%endblock%}