{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for event in event_list %}
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">{{ event.title }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Details:</h5>
                            <p>{{ event.details}}</p>
                            <p><strong>Location:</strong> Galway City</p>
                            <h5>Requirements:</h5>
                            <p>{{ event.requirements}}</p>

                            <p><strong>created:</strong> {{ event.created_on}}</p>
                            <p><strong>created:</strong> {{ event.created_on}}</p>
                            <p><strong>organiser:</strong> {{ event.author}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Join</button>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            <div class="card blue">

                {% elif forloop.counter|divisibleby:3 %}
                <div class="card pink">
                    {% else %}
                    <div class="card yellow">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.author }}</p>
                            <p class="card-text">{{ event.details }}</p>
                            <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#exampleModalLong">
                                Details
                            </button>
                            <button class="btn btn-outline-success" type="info">Join</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {%endblock%}